{
  "printWidth": 120,
  "trailingComma": "all",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": false
}
